<div class="document">
	<h1>デッキの作り方</h1>
	<p>
	ここではデッキの作成方法を説明します。
	</p>
	<h2>まずはTwitterのアカウント連携でログイン</h2>
	<p>
	デッキメイクするにはTwitterのアカウント連携が必要です。<br>
	WIXOSSカードデータベースでのアカウント連携では「ユーザー名を取得する」だけです。<br>
	勝手にツイートしたりなんかはしません。
	</p>
	<p>
	<img src="https://www.dropbox.com/s/sh3gwml9ovdwh12/1.png?dl=1" style="width:800px;"><br>
	まずはヘッダーのデッキ作成をクリックします。<br>
	すると、左下にデッキ作成用のウィンドウが出てきます。<br>
	そこの「Twitterでサインイン」をクリックするとTwitterのアプリケーション連携のページに飛びます。<br>
	ご自分のアカウントを入力し認証が通れば、デッキ作成が行えます。<br>
	<img src="https://www.dropbox.com/s/1ryzxnd1kf0qa4g/2.png?dl=1" style="width:200px;"><br>
	</p>
	<p>
	<h2>デッキの新規作成</h2>
	<p>
	デッキの新規作成を行います。<br>
	デッキ作成のウィンドウを開いて「新規作成」をクリックして下さい。<br>
	<img src="https://www.dropbox.com/s/jpfq6ozf0k24brz/3.png?dl=1" style="width:200px;"><br>
	</p>
	<p>
	ポップアップが表示されるので、デッキ名とコメントを入力していきます。<br>
	コメントは||と入力すると改行できます。また、エナやライフバーストのアイコンも使えます。<br>
	カードの編集画面の「カードテキスト」と同じ入力方法なので、詳しく入力したい人はカードテキストの編集画面を一度見るといいかもしれません。<br>
	タイトルとコメントは後から編集できるので、最初は適当な名前でもOKです。<br>
	<img src="https://www.dropbox.com/s/c12yf7nwql3mxur/4.png?dl=1" style="width:400px;"><br>
	</p>
	<h2>デッキへカードを追加する</h2>
	<p>
	デッキを作成したら名前をクリックしましょう。<br>
	ウィンドウの下側のエリアのタイトルが現在編集しているデッキです。<br>
	選択したらカードの検索を行い、カード情報の左下にある「デッキに追加」ボタンでデッキに登録されます。<br>
	<img src="https://www.dropbox.com/s/ozmfpm8uwrmyncx/6.png?dl=1" style="width:400px;"><br>
	登録したカードの増減は「+」「-」ボタンで行え、順番の入れ替えはドラッグ操作で行えます。<br>
	デッキが完成したら虫眼鏡のアイコンをクリックする事で、他の人にも公開できるページが表示できます。<br>
	</p>
	<h2>ライフバーストとガードの自動計算</h2>
	<p>
	メインデッキには「LB」「G」の表記があり、これはライフバーストとガードの枚数を表しています。<br>
	WIXOSSはライフバースト20枚丁度という縛りがあるので、これを参考にデッキを作成して下さい。<br>
	</p>
</div>