<%
if request.smart_phone?
	case [*1..2].sample
	when 1
%>
<a href="http://px.a8.net/svt/ejp?a8mat=2BPMVG+8D9CVM+30HA+661TT" target="_blank">
<img border="0" width="336" height="280" alt="" src="http://www29.a8.net/svt/bgt?aid=140604172506&wid=001&eno=01&mid=s00000014059001036000&mc=1"></a>
<img border="0" width="1" height="1" src="http://www15.a8.net/0.gif?a8mat=2BPMVG+8D9CVM+30HA+661TT" alt="">
<%	when 2 %>
<a href="http://px.a8.net/svt/ejp?a8mat=2BPMVG+8D9CVM+30HA+62ENL" target="_blank">
<img border="0" width="300" height="250" alt="" src="http://www27.a8.net/svt/bgt?aid=140604172506&wid=001&eno=01&mid=s00000014059001019000&mc=1"></a>
<img border="0" width="1" height="1" src="http://www13.a8.net/0.gif?a8mat=2BPMVG+8D9CVM+30HA+62ENL" alt="">
<%
	end
else
	case [*1..4].sample
	when 1
%>
<a href="http://px.a8.net/svt/ejp?a8mat=2BPMVG+8D9CVM+30HA+631SX" target="_blank">
<img border="0" width="728" height="90" alt="" src="http://www21.a8.net/svt/bgt?aid=140604172506&wid=001&eno=01&mid=s00000014059001022000&mc=1"></a>
<img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=2BPMVG+8D9CVM+30HA+631SX" alt="">
<%	when 2 %>
<a href="http://px.a8.net/svt/ejp?a8mat=2BPMVG+8D9CVM+30HA+64Z8X" target="_blank">
<img border="0" width="728" height="90" alt="" src="http://www27.a8.net/svt/bgt?aid=140604172506&wid=001&eno=01&mid=s00000014059001031000&mc=1"></a>
<img border="0" width="1" height="1" src="http://www16.a8.net/0.gif?a8mat=2BPMVG+8D9CVM+30HA+64Z8X" alt="">
<%	when 3 %>
<a href="http://px.a8.net/svt/ejp?a8mat=2BPMVG+8D9CVM+30HA+68U4X" target="_blank">
<img border="0" width="728" height="90" alt="" src="http://www28.a8.net/svt/bgt?aid=140604172506&wid=001&eno=01&mid=s00000014059001049000&mc=1"></a>
<img border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2BPMVG+8D9CVM+30HA+68U4X" alt="">
<%	when 4 %>
<a href="http://px.a8.net/svt/ejp?a8mat=2BPMVG+8MSAK2+2XSC+656YP" target="_blank">
<img border="0" width="728" height="90" alt="" src="http://www27.a8.net/svt/bgt?aid=140604172522&wid=001&eno=01&mid=s00000013710001032000&mc=1"></a>
<img border="0" width="1" height="1" src="http://www14.a8.net/0.gif?a8mat=2BPMVG+8MSAK2+2XSC+656YP" alt="">
<%
	end
end
%>