<% @cards.each_with_index do |card, index| %>
	<% if index == 0 || index % 5 == 0 %>
		<%= render 'share/afe' %>
	<% end %>
	<%= render 'cards/card', card: card, index: true%>
<% end %>

<% if @cards.empty? %>
	<h2>WIXOSSカードデータベース</h2>
	<p>
		カード追加、編集はご自由にどうぞ。<br>
		最新のフルブラウザでデッキの作成ができます。デッキメモにどうぞ。<br>
		デッキの作成方法は<a href="/howtodeck">こちら</a>。<br>
		データの削除は行えなくしています。必要であればご要望下さい。<br>
	</p>
	<h2>公式ツイート</h2>
	<a class="twitter-timeline" href="https://twitter.com/wixoss_TCG" data-widget-id="472210111276929024">@wixoss_TCG からのツイート</a>
	<script src="//platform.twitter.com/widgets.js"></script>
<% else %>
	<p id="page-top" style="display:none;"><a href="#wrap">トップへ</a></p>

	<%= render 'cards/price' %>
<% end %>
