<div id="deck-table">
	<div class="bt-close">&times;</div>
<% if signed_in? %>
	<div class="info">
		<h2>
			<%= current_user.name %>
			<a class="pull-right" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
		</h2>
	</div>
	<div class="panel decks">
		<h2>デッキ</h2>
		<div class="decks-content">
			<ul class="nav nav-pills nav-stacked">
				<% current_user.decks.each do |deck| %>
					<li><a class="deck-make" href="javascript:void(0)" deck-id="<%= deck.id %>"><%= deck.name %></a></li>
				<% end %>
				<li><a class="deck-new" href="javascript:void(0)">新規作成</a></li>
			</ul>
		</div>
	</div>
	<div class="panel cards">
		<h2 class="clearfix" deck-id="">
			<span class="text"></span>
			<span class="comment" style="display:none;"></span>
			<span class="pull-right">
				<a class="deck-show" href="javascript:void(0)">
					<span class="glyphicon glyphicon-search"></span>
				</a>
				<a class="deck-edit" href="javascript:void(0)">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a class="deck-delete" href="javascript:void(0)">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</span>
		</h2>
		<div class="tab tab-heading">
			<ul class="nav nav-tabs" id="deck-cards-tab">
				<li class="active">
					<a href="#deck_lrig" data-toggle="tab" style="padding:10px 8px;">
						ルリグ
						<span class="badge count"></span>
					</a>
				</li>
				<li>
					<a href="#deck_base" data-toggle="tab" style="padding:10px 8px;">
						メイン
						<span class="badge count"></span>
						<span class="badge lifeburst"></span>
						<span class="badge guard"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="tab tab-content">
			<div class="tab-pane fade in active" id="deck_lrig">
				<ul class="nav nav-pills nav-stacked">
				</ul>
			</div>
			<div class="tab-pane fade" id="deck_base">
				<ul class="nav nav-pills nav-stacked">
				</ul>
			</div>
		</div>
	</div>
<% else %>
	<div class="info">
		<h2>サインインして下さい。</h2>
		<a href="/auth/twitter" class="btn btn-primary btn-lg">Twitterでサインイン</a>
	</div>
<% end %>
</div>

<%= render 'decks/modal_deck_edit' %>
