<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">WIXOSSカードデータベース</a>
	</div>
	<div class="navbar-collapse collapse">
		<%= form_tag(cards_path, method: :get, class: "navbar-form navbar-left") do %>
			<div class="form-group">
				<%= text_field_tag "sq[all_text]", @sq[:all_text], class: "form-control", placeholder: "カード検索" %>
			</div>
			<%= submit_tag "検索", class: "btn btn-default" %>
			<a class="btn btn-default" data-toggle="modal" data-target="#search_modal">詳細検索</a>
		<% end %>
		<ul class="nav navbar-nav">
			<li><a href="<%= new_card_path %>">カード追加</a></li>
			<li><a href="http://www.takaratomy.co.jp/products/wixoss/">WIXOSS公式</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">バグ要望はTwitter #wixossdb へ</a></li>
		</ul>
	</div>
</div>