<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">WIXOSSデータベース</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="<%= new_card_path %>">カード追加</a></li>
			<li><a href="http://www.takaratomy.co.jp/products/wixoss/">WIXOSS公式</a></li>
		</ul>
	</div>
</div>